html,
body {
    padding: 0;
    margin: 0;
    background-color: #F8FAFC;
    font-family: 'Poppins', sans-serif
}

html {
    height: 100vh;
}

/* Para los inputs con autocompletado */
input:-webkit-autofill {
    -webkit-text-fill-color: #000;
    /* Color del texto */
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /* Fondo blanco */
}

/* Para quitar el fondo azul cuando está enfocado */
input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    /* Fondo blanco */
    outline: none;
    /* Quita el contorno */
}


body {
    height: 100vh;
}

.container-fluid {
    height: 100vh;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: Arial;
}

.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    perspective: 300px;
    margin: 0;
    padding: 0;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    transition: all 0.3s ease-in;
}

.carousel__item:nth-child(1) {
    background: url(../../images/cardImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel__item:nth-child(2) {
    background: url(../../images/cardImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel__item:nth-child(3) {
    background: url(../../images/cardImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel__item:nth-child(4) {
    background: url(../../images/cardImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel__item:nth-child(5) {
    background: url(../../images/cardImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel__item[data-pos="0"] {
    z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
    transform: translateX(-15%) scale(0.9);
    z-index: 4;
}

.carousel__item[data-pos="1"] {
    transform: translateX(15%) scale(0.9);
    z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
    transform: translateX(-30%) scale(0.8);
    z-index: 3;
}

.carousel__item[data-pos="2"] {
    transform: translateX(30%) scale(0.8);
    z-index: 3;
}

.cardEfe {
    background: rgb(86, 84, 230);
    background: linear-gradient(90deg, rgba(86, 84, 230, 0.25) 0%, rgba(253, 203, 103, 0.25) 100%);
    margin: 0 !important;
    padding: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
}

.btn.btn-primary {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #1F71F0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 10px;
    padding: 8px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1F71F0;
    color: #AAB4C3
}

input[type='text'],
input[type='password'],
input[type='email']
{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

body.swal2-height-auto {
    height: inherit !important;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

label.error {
    color: red;
    font-weight: bold;
    font-size: 12px;
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }

    body {
        height: 100%
    }

    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

@media screen and (max-width: 991px) {
    body {
        overflow-y: scroll;
    }

    .carousel__list {
        height: 400px !important;
    }

    .panel {
        width: 100% !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }

    .carousel__item {
        width: 60%;
    }
}
